<% if user_signed_in? %>
  <p>
    <strong> Followers: </strong>
    <%= current_user.followers.count%>
    <strong> Following: </strong>
      <%= current_user.following.count%>
  </p>
<% end %>
<hr>
<h1> Articles </h1>
<hr>
<% if user_signed_in? %>
  <a style="text-decoration: none !important"
    class="btn btn-primary my-3" href= <%= new_article_path %>>
      Add a new Article
  </a>
<% end %>

<p class="lead">
  This blog has <%= Article.public_count %> articles and counting!
</p>

<div class="list-group my-3" >
  <% @articles.each do |article| %>
    <% unless article.archived? %>
      <a href= <%= article_path(article) %>
         style="text-decoration: none !important"
         class="list-group-item list-group-item-action">
          <%=article.title%>
      </a>
    <% end %>
  <% end %>
</div>
